body{
    font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal; /*Grosor de la letra*/
    /*font-style: italic;*/ /*Tipo de letra*/
}

h1{
    font-family: 'Fjalla One', sans-serif;
    font-size: 40px; /*Tamaño de la letra*/
    line-height: 1.5em; /*Ancho de la linea*/
    letter-spacing: -.2px; /*Espacio entre las letras*/
    /*text-transform: uppercase;*/ /*Mayusculas, minusculas y otro*/
    /*text-decoration: dashed;*/ /*Decoaciones añ texto*/
}