/*  gris oscuro = #1d252c;
    gris claro = #626262;
    background gris = #1b2127; 
    celeste =  #026fff;
*/

body{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0px;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal; /*Grosor de la letra*/
    /*font-style: italic;*/ /*Tipo de letra*/
}

h1{
    color: white;
    font-family: 'Fjalla One', sans-serif;
    font-size: 40px; /*Tamaño de la letra*/
    line-height: 1.5em; /*Ancho de la linea*/
    letter-spacing: -.2px; /*Espacio entre las letras*/
    /*text-transform: uppercase;*/ /*Mayusculas, minusculas y otro*/
    /*text-decoration: dashed;*/ /*Decoaciones añ texto*/

    /* margin: 100px 150px 70px 30px; */
    margin: 0px;
}

h1 strong{
    color: #026fff;
}

.hero{
    height: 300px;
    /* background-image: url(../images/hero.jpg); */
    background-color: #1b2127;
    /* background-size: 500px 300px; */
    /* background-repeat: no-repeat; */
    /* background-position-x: right; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.hero-image{
    object-fit: cover;
}

.portfolio{
    background-color: #FAFAFA;
    padding: 20px;
}

h2{
    color: #026fff;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
}

.project{   
    background-color: white;
    /*  border-top: 10px solid red;
    border-right: 10px solid green;
    border-left: 10px solid blue;
    border-bottom: 10px solid yellow;*/
    /*border-color: #027fff ; */
    /*border-top-color: red;
    border-top-width: 15px;
    border-top-style: solid; */
    border: 1px solid gray;
    border-radius: 10px;

    /* margin-bottom: 15px; */
    /* margin-top: 15px; */
    /* margin-right: 15px; */
    /* margin-left: 15px; */
    /* margin: 10px; */
    margin-bottom: 15px;

    padding: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-title{
    font-size: 30px;
    margin-top: 0px; 
    margin-bottom: 10px;
}

.project-course, .project-url, .project-date {
    margin: 10px 0px;
}

.project-description{
    font-size: 20px;
}

.project strong{
    font-family: 'Fjalla One', sans-serif;
}
.project-details{
    width: 500px;
}

.project-imageContainer{
    width: 500px;
}


/* Header */

.header{
    background-color: #1b2127;
    color:white;
    height: 70px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

ul, ol{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

figure{
    margin: 0px;
}


.menu{
    height: inherit;
}

.header ol{
    display: flex;
    height: inherit;
}

.header ol li{
    height: inherit;
}

.header a{
    display: flex;
    align-items: center;
    height: inherit;
    padding: 0px 10px;
    color:white;
    text-decoration: none;
}

.footer{
    background-color: #1b2127;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer img{
    vertical-align: middle;
}
.footer a{
    color: white;
}

.event-list{
    display: flex;
    flex-wrap: wrap;
}

.event{
    margin: 10px;
    width: 480px;
    flex-shrink: 0;
    border-radius: 10px;
    overflow: hidden;
    background-color: #f4fbff;
}
.event img{
    width: 480px;
    height: 200px;
    object-fit: cover;
}
.event-details{
    margin: 20px 40px;
    background-color: white;
    padding: 20px;
    margin-top: -40px;
    position: relative; 
    text-align: center;
}

.event-description{
    text-align: left;
}

.event-url{
    color: #056fff;
    border: 1px solid #056fff;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.event-list-title{
    margin-left: 20px;
}


.contact{
    background-color: #056fff;
    color: white;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social{

}

.social-link{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0px 10px;
}

.social-link.twitter{
    background-image: url(../images/twitter.svg);
    background-size: 50px 50px;
}

.social-link.facebook{
    background-image: url(../images/facebook.svg);
    background-size: 50px 50px;
}
.social-link.github{
    background-image: url(../images/github.svg);
    background-size: 50px 50px;
}
.social-link.instagram{
    background-image: url(../images/instagram.svg);
    background-size: 50px 50px;
}

.form-email input{
    border-color: gray;
    padding:  10px 20px 10px 25px;
    background-image: url(../images/envelope.svg);
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y: center;  
    background-position-x: 5px;
    border-radius: 5px;
    border-style: solid;
}

.form-email button{
    border-style: solid;
    display: block;
    margin-top:10px;
    background-color: transparent;
    color: white;
    padding: 10px 0px;
    border-radius: 5px;  
    width: 100px;
}

.form-email h3{
    
    font-family: 'Source Sans Pro', sans-serif;
}

.container{
    width: 1000px;
    margin: 0 auto;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
    height: inherit;
    flex-wrap: inherit;
}
